.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mask{
  flex: 1;
  display: flex;
  padding:20px 0;
}
.main {
  position: relative;
  overflow-y: auto;
  padding: 0.1rem 0;
  display: flex;
  flex-direction: row !important;
  /* justify-content: space-around; */
}
.aboutMe {
  flex: 1;
  max-width: 904px;
  padding: 10px 20px;
  height: max-content;
  background: #ffffff;
}
.articleContainer {
  width: 960px;
  max-width: 100%;
  margin: 60px auto;
  padding: 20px 40px;
  background: #fff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}

.navContainer {
  position: fixed;
  right: 20px;
  top: 60px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  transform: translate(0, 0);
  transition: transform 500ms ease;
}
