.container {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.padding{
  width: 100%;
  height: 20px;
}
.mask{
  flex: 1;
  display: flex;
  overflow-y: auto;
  padding: 20px;
}
.main {
  position: relative;
  padding: 0.1rem 0;
  display: flex;
  flex-direction: row !important;
  /* justify-content: space-around; */
}
.acticles {
  flex: 1;
  max-width: 904px;
  margin: 0 0 20px 0;
  padding: 10px 20px;
  height: max-content;
  background: #ffffff;
}
.mask::-webkit-scrollbar {
  width: 8px;    
  /*height: 4px;*/
}
.mask::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.2);
}
.mask::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 0;
  background: rgba(0,0,0,0.1);
}