.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.mask {
  flex: 1;
  display: flex;
  padding: 20px 0;
}
.main {
  position: relative;
  overflow-y: auto;
  padding: 0.1rem 0;
  flex-direction: row !important;
  /* justify-content: space-around; */
}
.thoughts {
  flex: 1;
  max-width: 904px;
  padding: 10px 20px;
  height: max-content;
  background: #ffffff;
}
